.logo {
    height: 50px;
    width: 50px;
    background-color: gray;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}